

    <%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class = "form_table">
  <div class="field">
    <%= f.label :leaders %><br>
    <%= f.text_field :leaders %>
  </div>
  <div class="field">
    <%= f.label :county %><br>
    <%= f.text_field :county %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :start_date, {:order=>[:day, :month, :year]} %><br>
    <%= f.date_select :start_date, {:order=>[:day, :month, :year]} %>
 
  </div>
  <div class="field">
    <%= f.label :end_date, {:order=>[:day, :month, :year]}%><br>
    <%= f.date_select :end_date, {:order=>[:day, :month, :year]}%>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.number_field :cost %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class = "field">
    <%= f.label :picture_url %><br>
    <%= f.text_field :picture_url %>
  </div>

  <div class="field">
    <%= f.label :boots %><br>
    <%= f.number_field :boots %>
  </div>

  <div class="field">
    <%= f.label :accomplished %><br>
    <%= f.check_box :accomplished %>
  </div>
</div>
<br>
  <div class="actions">
    <%= f.submit %>
  </div>
  <h5><a href="/trips/"data-confirm="Are you sure?" data-method="delete"  rel="nofollow">Destroy</a></h5>
<% end %>

