
<div class="jumbotron">
  <h2>Expedition Trips 2013 ! </h2>
  <div class="container">

<% @trips.each_with_index do |trip, counter| %>

 <% if counter%3 == 0 %>
    <div class="row">
     
 <% end %>
   <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          <%=  image_tag  trip.picture_url  %>
            <div class="caption">
              <h4><b><%= trip.county + " - " + trip.location %></b></h4>
               <h5> <b><%= trip.leaders %> <br> From: <%= trip.start_date %> To:  <%= trip.end_date %></b> </h5>
                <p><%= link_to 'Edit', edit_trip_path(trip) %></p>
                <p class="btn btn-primary"> <%= link_to 'View More', trips_path %> </p>
          </div> <!-- caption -->
        </div> <!-- thumbnail -->
      </div><!-- column -->

   <% if counter%3 == 2 %>
    </div><!-- row -->
     
 <% end %>
 
  <% end %>
  </div>
</div>
 