
<div class="jumbotron">
  <h2>Expedition Trips 2013 ! </h2>
  <p>Trips Still to happen = ORANGE <br> Accomplished Trips = GREEN</p>
  <div class="container">

<% @trips.each_with_index do |trip, counter| %>

 <% if counter%3 == 0 %>
    <div class="row">
     
 <% end %>
   <div class="col-sm-4 col-md-4">
    <% if trip.accomplished == true %>
        <div class="thumbnail" id="yes">
    <% elsif trip.accomplished == false %>
        <div class="thumbnail" id = "no">
    <%end%>
          <%=  image_tag  trip.picture_url  %>
            <div class="caption">
              <h4><b><%= trip.county + " - " + trip.location %></b></h4>
               <h5> <b> From: <%= trip.start_date %> To:  <%= trip.end_date %></b> </h5>
                 <% num = trip.boots || 0 %>

                 <% until num == 0 do %>
                    <% num -=1 %>
                     <%=  image_tag("boot.jpg", :alt=>"boot")  %>
              <%end%><br></br>
                <p class="btn btn-primary"> <%= link_to 'View More', trip %> </p>
                 <p class="btn btn-primary"> <%= link_to 'Sign Up', trip %> </p>
          </div> <!-- caption -->
        </div> <!-- thumbnail -->
      </div><!-- column -->

   <% if counter%3 == 2 %>
    </div><!-- row -->
     
 <% end %>
 
  <% end %>
  </div>
</div>
</div>
 